.header
  img.logo(src="src/pics/bbc_news_logo.png")
div
  .row
    div
      img.img(src="http://ichef.bbci.co.uk/news/1024/cpsprodpb/7E9D/production/_93531423_mediaitem93531422.jpg")
      | 		 
      strong
        a.link(href="http://ichef.bbci.co.uk/news/1024/cpsprodpb/7E9D/production/_93531423_mediaitem93531422.jpg") {{title}}
      |          
      p {{description}}
      |          
      div {{updated_at}}
      |          
      div By: {{author}}
