doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="stylesheets/page.css")
  body.page
    .newsapilink
      a(href="https://newsapi.org/") Powered by NewsAPI
    |       
    |     
    div(style="text-align:center")
      form(action="article/getall", method="get")
        button#shownewsbutton.button(type="submit") Show news!
    |     
    //script(type="text/javascript", src="index.js")
    // 
