extends layout

block content
  body.page
    //.newsapilink
    //  a(href="https://newsapi.org/") Powered by NewsAPI
    |       
    |   
    div(style="text-align:center") #{status}  
    div(style="text-align:center")
      form(action="articles", method="get")
        button#shownArticleButton.button(type="submit") Show articles
    div(style="text-align:center")
      form(action="articles/add", method="get")
        button#addArticleButton.button(type="submit") Add article
    |     