doctype html
html
    head
        link(rel='stylesheet', href='../stylesheets/page.css')
    body.page
      .newsapilink
          a(href="https://newsapi.org/") Powered by NewsAPI
    block content
        