extends ./../layout


block content
  link(rel='stylesheet', href='../stylesheets/articleAdd.css')
  body.page
  .login #{user.username}
    include ./../user/logout
    |       
    |   
    div(style="text-align:center") #{status}  
    div(style="text-align:center")
      form(action="/articles", method="get")
        button#shownewsbutton.button(type="submit") Show news!
    |     