.page{
    background: url(../images/background.jpg);
}

.newsapilink{
    text-align: left;
    font-weight: bold;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;   
    margin: 5px;
}

.link{
    color:#000000;
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
}
