h4 Login to your account
link(rel='stylesheet', href='../stylesheets/articleAdd.css')
.container
  form#contact(action="./login", method="post")
    h3 Login
    |     
    h4 Enter your credentials
    |     
    fieldset
      input(placeholder="Email", type="email", tabindex="1", required="", autofocus="", name="email")
    |     
    fieldset
      input(placeholder="Password", type="password", tabindex="2", required="", name="password") 
    fieldset
      button#contact-submit(name="submit", type="submit", data-submit="...Entering") Enter
    | 
    a(href="./register/") Registar